<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="com.deep.Spring_Annotationbased"></context:component-scan>
    <!-- bean definitions here -->
    
    
    	<!-- <bean id="design_pattern" class="com.deep.Spring_Annotationbased.Template_Design"></bean> -->
    
    <bean id="observer" class="com.deep.Spring_Annotationbased.Special_Method">
    	<constructor-arg value="Observe Test"></constructor-arg>
    </bean>
</beans>